Django==1.9.7
coreapi==1.31.0
-e git+https://github.com/marcgibbons/openapi-codec.git@3d7738826f84972ad811fe2708d3047a9b0b09da#egg=openapi_codec
-e git+git://github.com/tomchristie/django-rest-framework.git@c21994e778401e9a82cd1bc0d3aeca5a46b8f432#egg=django-rest-framework
tox==2.3.1
Pygments==2.0.2
Markdown==2.6.3
