Django==1.10.2
djangorestframework==3.5.1
coreapi==2.0.8
openapi-codec==1.1.7
simplejson==3.9.0

# Testing
tox==2.4.1
pylint==1.6.4
coverage==4.2
ipdb==0.10.1

# Docs
mkdocs==0.15.3

# Heroku
dj_database_url==0.4.1
psycopg2==2.6.2
